version: "3"
services:
  redis:
    image: redis:latest
    command: ["redis-server"]
    ports:
      - "6379:6379"
  minio:
    image: minio/minio
    ports:
      - 9000:9000
    volumes:
      - minio_data:/data
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    command: server /data

volumes:
  minio_data: {}
