/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.Gun1-0 {max-width:192px; max-height:192px; }
.Gun1-0::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 0.12919896640826872% 0.12919896640826872%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-0::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-1 {max-width:192px; max-height:192px; }
.Gun1-1::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 0.12919896640826872% 25.064599483204134%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-1::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-10 {max-width:192px; max-height:192px; }
.Gun1-10::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 25.064599483204134% 50%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-10::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-11 {max-width:192px; max-height:192px; }
.Gun1-11::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 25.064599483204134% 74.93540051679587%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-11::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-12 {max-width:192px; max-height:192px; }
.Gun1-12::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 25.064599483204134% 99.87080103359173%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-12::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-13 {max-width:192px; max-height:192px; }
.Gun1-13::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 50% 25.064599483204134%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-13::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-14 {max-width:192px; max-height:192px; }
.Gun1-14::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 74.93540051679587% 25.064599483204134%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-14::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-15 {max-width:192px; max-height:192px; }
.Gun1-15::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 99.87080103359173% 25.064599483204134%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-15::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-16 {max-width:192px; max-height:192px; }
.Gun1-16::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 50% 50%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-16::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-17 {max-width:192px; max-height:192px; }
.Gun1-17::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 50% 74.93540051679587%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-17::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-18 {max-width:192px; max-height:192px; }
.Gun1-18::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 50% 99.87080103359173%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-18::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-19 {max-width:192px; max-height:192px; }
.Gun1-19::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 74.93540051679587% 50%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-19::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-2 {max-width:192px; max-height:192px; }
.Gun1-2::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 0.12919896640826872% 50%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-2::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-20 {max-width:192px; max-height:192px; }
.Gun1-20::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 99.87080103359173% 50%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-20::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-3 {max-width:192px; max-height:192px; }
.Gun1-3::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 0.12919896640826872% 74.93540051679587%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-3::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-4 {max-width:192px; max-height:192px; }
.Gun1-4::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 0.12919896640826872% 99.87080103359173%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-4::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-5 {max-width:192px; max-height:192px; }
.Gun1-5::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 25.064599483204134% 0.12919896640826872%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-5::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-6 {max-width:192px; max-height:192px; }
.Gun1-6::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 50% 0.12919896640826872%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-6::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-7 {max-width:192px; max-height:192px; }
.Gun1-7::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 74.93540051679587% 0.12919896640826872%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-7::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-8 {max-width:192px; max-height:192px; }
.Gun1-8::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 99.87080103359173% 0.12919896640826872%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-8::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Gun1-9 {max-width:192px; max-height:192px; }
.Gun1-9::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 25.064599483204134% 25.064599483204134%; background-size: 503.125% 503.125%; background-image: url(Gun1.png);padding: 0; }
div.Gun1-9::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}

@keyframes Gun1-frames {
    0% { background-position: 0.12919896640826872% 0.12919896640826872%;  }
    4.761904761904762% { background-position: 0.12919896640826872% 25.064599483204134%;  }
    9.523809523809524% { background-position: 0.12919896640826872% 50%;  }
    14.285714285714285% { background-position: 0.12919896640826872% 74.93540051679587%;  }
    19.047619047619047% { background-position: 0.12919896640826872% 99.87080103359173%;  }
    23.809523809523807% { background-position: 25.064599483204134% 0.12919896640826872%;  }
    28.57142857142857% { background-position: 50% 0.12919896640826872%;  }
    33.33333333333333% { background-position: 74.93540051679587% 0.12919896640826872%;  }
    38.095238095238095% { background-position: 99.87080103359173% 0.12919896640826872%;  }
    42.857142857142854% { background-position: 25.064599483204134% 25.064599483204134%;  }
    47.61904761904761% { background-position: 25.064599483204134% 50%;  }
    52.38095238095239% { background-position: 25.064599483204134% 74.93540051679587%;  }
    57.14285714285714% { background-position: 25.064599483204134% 99.87080103359173%;  }
    61.904761904761905% { background-position: 50% 25.064599483204134%;  }
    66.66666666666666% { background-position: 74.93540051679587% 25.064599483204134%;  }
    71.42857142857143% { background-position: 99.87080103359173% 25.064599483204134%;  }
    76.19047619047619% { background-position: 50% 50%;  }
    80.95238095238095% { background-position: 50% 74.93540051679587%;  }
    85.71428571428571% { background-position: 50% 99.87080103359173%;  }
    90.47619047619048% { background-position: 74.93540051679587% 50%;  }
    95.23809523809523% { background-position: 99.87080103359173% 50%;  }
}

.Gun1-animation {
    max-width: 192px;
    max-height: 192px;
}
.Gun1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 192px;
    height: 192px;
    padding: 0;
    background-image: url(Gun1.png);
    background-size: 503.125% 503.125%; 
    animation-name: Gun1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.Gun1-animation::after {
    max-width: 192px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:37d038e52940e8b58f616ec15c06d70a:d5c396987e5c84cb3132ff3512b4f68b:8d7be3b177c062175ef72635ad0d4a40$ */
