/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.Recovery1-0 {max-width:192px; max-height:192px; }
.Recovery1-0::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 0.12919896640826872% 0.10341261633919338%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-0::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-1 {max-width:192px; max-height:192px; }
.Recovery1-1::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 25.064599483204134% 0.10341261633919338%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-1::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-10 {max-width:192px; max-height:192px; }
.Recovery1-10::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 0.12919896640826872% 40.02068252326784%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-10::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-11 {max-width:192px; max-height:192px; }
.Recovery1-11::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 25.064599483204134% 40.02068252326784%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-11::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-12 {max-width:192px; max-height:192px; }
.Recovery1-12::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 50% 40.02068252326784%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-12::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-13 {max-width:192px; max-height:192px; }
.Recovery1-13::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 74.93540051679587% 40.02068252326784%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-13::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-14 {max-width:192px; max-height:192px; }
.Recovery1-14::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 99.87080103359173% 40.02068252326784%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-14::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-15 {max-width:192px; max-height:192px; }
.Recovery1-15::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 0.12919896640826872% 59.97931747673216%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-15::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-16 {max-width:192px; max-height:192px; }
.Recovery1-16::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 25.064599483204134% 59.97931747673216%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-16::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-17 {max-width:192px; max-height:192px; }
.Recovery1-17::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 50% 59.97931747673216%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-17::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-18 {max-width:192px; max-height:192px; }
.Recovery1-18::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 74.93540051679587% 59.97931747673216%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-18::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-19 {max-width:192px; max-height:192px; }
.Recovery1-19::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 99.87080103359173% 59.97931747673216%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-19::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-2 {max-width:192px; max-height:192px; }
.Recovery1-2::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 50% 0.10341261633919338%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-2::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-20 {max-width:192px; max-height:192px; }
.Recovery1-20::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 0.12919896640826872% 79.93795243019649%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-20::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-21 {max-width:192px; max-height:192px; }
.Recovery1-21::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 25.064599483204134% 79.93795243019649%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-21::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-22 {max-width:192px; max-height:192px; }
.Recovery1-22::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 50% 79.93795243019649%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-22::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-23 {max-width:192px; max-height:192px; }
.Recovery1-23::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 74.93540051679587% 79.93795243019649%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-23::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-24 {max-width:192px; max-height:192px; }
.Recovery1-24::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 99.87080103359173% 79.93795243019649%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-24::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-25 {max-width:192px; max-height:192px; }
.Recovery1-25::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 0.12919896640826872% 99.8965873836608%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-25::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-26 {max-width:192px; max-height:192px; }
.Recovery1-26::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 25.064599483204134% 99.8965873836608%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-26::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-27 {max-width:192px; max-height:192px; }
.Recovery1-27::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 50% 99.8965873836608%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-27::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-28 {max-width:192px; max-height:192px; }
.Recovery1-28::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 74.93540051679587% 99.8965873836608%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-28::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-29 {max-width:192px; max-height:192px; }
.Recovery1-29::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 99.87080103359173% 99.8965873836608%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-29::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-3 {max-width:192px; max-height:192px; }
.Recovery1-3::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 74.93540051679587% 0.10341261633919338%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-3::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-4 {max-width:192px; max-height:192px; }
.Recovery1-4::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 99.87080103359173% 0.10341261633919338%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-4::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-5 {max-width:192px; max-height:192px; }
.Recovery1-5::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 0.12919896640826872% 20.062047569803514%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-5::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-6 {max-width:192px; max-height:192px; }
.Recovery1-6::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 25.064599483204134% 20.062047569803514%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-6::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-7 {max-width:192px; max-height:192px; }
.Recovery1-7::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 50% 20.062047569803514%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-7::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-8 {max-width:192px; max-height:192px; }
.Recovery1-8::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 74.93540051679587% 20.062047569803514%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-8::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}
.Recovery1-9 {max-width:192px; max-height:192px; }
.Recovery1-9::after {content: '\00a0';display: inline-block; width:192px; height:192px; background-position: 99.87080103359173% 20.062047569803514%; background-size: 503.125% 603.6458333333334%; background-image: url(recovery1.png);padding: 0; }
div.Recovery1-9::after {max-width:192px; width:100%;height:0;padding: 0 0 100% 0;}

@keyframes Recovery1-frames {
    0% { background-position: 0.12919896640826872% 0.10341261633919338%;  }
    3.3333333333333335% { background-position: 25.064599483204134% 0.10341261633919338%;  }
    6.666666666666667% { background-position: 50% 0.10341261633919338%;  }
    10% { background-position: 74.93540051679587% 0.10341261633919338%;  }
    13.333333333333334% { background-position: 99.87080103359173% 0.10341261633919338%;  }
    16.666666666666664% { background-position: 0.12919896640826872% 20.062047569803514%;  }
    20% { background-position: 25.064599483204134% 20.062047569803514%;  }
    23.333333333333332% { background-position: 50% 20.062047569803514%;  }
    26.666666666666668% { background-position: 74.93540051679587% 20.062047569803514%;  }
    30% { background-position: 99.87080103359173% 20.062047569803514%;  }
    33.33333333333333% { background-position: 0.12919896640826872% 40.02068252326784%;  }
    36.666666666666664% { background-position: 25.064599483204134% 40.02068252326784%;  }
    40% { background-position: 50% 40.02068252326784%;  }
    43.333333333333336% { background-position: 74.93540051679587% 40.02068252326784%;  }
    46.666666666666664% { background-position: 99.87080103359173% 40.02068252326784%;  }
    50% { background-position: 0.12919896640826872% 59.97931747673216%;  }
    53.333333333333336% { background-position: 25.064599483204134% 59.97931747673216%;  }
    56.666666666666664% { background-position: 50% 59.97931747673216%;  }
    60% { background-position: 74.93540051679587% 59.97931747673216%;  }
    63.33333333333333% { background-position: 99.87080103359173% 59.97931747673216%;  }
    66.66666666666666% { background-position: 0.12919896640826872% 79.93795243019649%;  }
    70% { background-position: 25.064599483204134% 79.93795243019649%;  }
    73.33333333333333% { background-position: 50% 79.93795243019649%;  }
    76.66666666666667% { background-position: 74.93540051679587% 79.93795243019649%;  }
    80% { background-position: 99.87080103359173% 79.93795243019649%;  }
    83.33333333333334% { background-position: 0.12919896640826872% 99.8965873836608%;  }
    86.66666666666667% { background-position: 25.064599483204134% 99.8965873836608%;  }
    90% { background-position: 50% 99.8965873836608%;  }
    93.33333333333333% { background-position: 74.93540051679587% 99.8965873836608%;  }
    96.66666666666667% { background-position: 99.87080103359173% 99.8965873836608%;  }
}

.Recovery1-animation {
    max-width: 192px;
    max-height: 192px;
}
.Recovery1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 192px;
    height: 192px;
    padding: 0;
    background-image: url(recovery1.png);
    background-size: 503.125% 603.6458333333334%; 
    animation-name: Recovery1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.Recovery1-animation::after {
    max-width: 192px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:a8e75a3f6f25419a180743d61996d346:34579993f068ed4a8107d268000727d3:c5e8d976658e27d07e77025220e8b420$ */
